{% load static %}
<section id="contact">
    <div class="container">
        <h2>Контакты</h2>
        <p>Адрес: Адрес фирмы</p>
        <p>Телефон: <a href="tel:+70000000000">+7 (000) 000-00-00</a></p>
        <p>Email: <a href="mailto:info@example.com">info@example.com</a></p>
    </div>
</section>
</main>
<footer>
    <div class="container">
        <p>&copy; <span id="currentYear"></span> Название фирмы. Все права защищены.</p>
    </div>
</footer>
<script src="{% static 'js/base.js' %}"></script>